{% load static %}
<!DOCTYPE html>

<html lang="en">
<!--create a register form for my django proyect-->

<head>

    <meta charset="UTF-8">

    <title>Register</title>

    <!-- Bootstrap CSS -->

    <!-- center the form and put username over password -->

    <!-- put button at the bottom-->

    
   <!--external css file-->
    <link rel="stylesheet" href="{% static 'form.css' %}">

</head>

<body>
    
    <form action="/registry/" method="post">
        {% csrf_token %}
        <h1 style="text-align: center;">Nuevo Usuario</h1>
        <div id="user_type" style= 'block'>
            <select name="type" id="type" style="background-color: #f8f9fa; color: #343a40; font-size: 16px;">
                <option value="Pasajero">Pasajero</option>
                <option value="Conductor">Conductor</option>
            </select>
        </div>
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>

        <!--add a confirmation password mail and celphone fields-->

        <input type="password" name="password2" placeholder="Confirmar Contraseña" required>
        <input type="text" name="mail" placeholder="Correo Electronico" required>
        <input type="tel" name="celphone" placeholder="Celular" required>
        <!--add a type of account button-->


        <div id="conductor-fields" style="display: none;">
            <input type="text" name="placa" placeholder="Placa" required>
            <input type="text" name="marca" placeholder="Marca" required>
            <input type="text" name="modelo" placeholder="Modelo" required>
            <input type="text" name="color" placeholder="Color" required>
            <input type="text" name="n_disponibles" placeholder="Asientos disponibles" required>
        </div>

        <script>
            const typeSelect = document.getElementById('type');
            const conductorFields = document.getElementById('conductor-fields');

            typeSelect.addEventListener('change', () => {
                if (typeSelect.value === 'Conductor') {
                    conductorFields.style.display = 'block';
                } else {
                    conductorFields.style.display = 'none';
                }
            });
        </script>

        <input type="submit" value="Register">
        <!-- put optional message when passwords dont match-->

        <ul>
            {% for error in warning %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <!-- add link to registry page-->
         Ya tienes cuenta? inicia sesion <a href="/">aqui</a>

    </form>
</html>

