{% load static %}
<!DOCTYPE html>
<html lang="en">


<!--Djanto template where shows the value of two variables username and password
-->

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <!-- center the form and put username over password -->
    <!-- put button at the bottom-->
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            color: #333;
            line-height: 1.6;
        }
        p {
            font-size: 14px; /* Cambia el tamaño de la fuente para los párrafos */
        }
        h1, h2, h3, h4, h5, h6 {
            color: #444; /* Cambia el color del texto para los encabezados */
            font-weight: bold; /* Hace que los encabezados sean negritas */
        }
        </style>
    <link rel="stylesheet" href="{% static 'form.css' %}">
</head>

<body>
        <h1>Login</h1>
        <!--Put username and pawword variables in h2-->
        <h2>Username: {{ name }}</h2>
        <h2>Password: {{ password }}</h2>
</body>

</html>

